h1{
    font-size: 3em;
    text-align: center;
    font-family: 'Handlee', cursive;
    font-family: 'Playpen Sans', cursive;
    color:#315879 ;
}

div{
    font-family: 'Handlee', cursive;
    font-family: 'Playpen Sans', cursive;
}

footer{
    font-family: 'Handlee', cursive;
    font-family: 'Playpen Sans', cursive; 
}

.containerblablabla{
    font-family: 'Handlee', cursive;
    font-family: 'Playpen Sans', cursive;
}

/*Cores
azul escuro - #315879
azul claro - #538BAC
creme - #F5E6BF
branco - #FCFCF4
cinza - #C8CDC6 */